@font-face {
    font-family: 'MyriadProLight';
    src: url('fonts/myriadpro-light-webfont.eot');
    src: url('fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-Light.woff') format('woff'),
         url('fonts/MyriadPro-Light.ttf') format('truetype'),
         url('fonts/MyriadPro-Light.svg#AftaserifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
  #loading {
		-webkit-animation: rotation 2s infinite linear;
}

#loading2 {
		-webkit-animation: rotation2 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
		}
}
@-webkit-keyframes rotation2 {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(-360deg);
		}
} 
body{ 
     background-color: rgba(6,4,3,0.1);
     
    padding: 8px 0 32px 0;
    margin-bottom: 32px;
    transition:0.66s;
    overflow-x:hidden;
    font-family: -apple-system, "San Francisco", "Helvetica Neue", Helvetica, “Lucida Grande”, Roboto, “Segoe UI”, Arial, Ubuntu, sans-serif;
}
h3{font-family: 'MyriadProLight'; font-family: -apple-system, "San Francisco", "Helvetica Neue", Helvetica, “Lucida Grande”, Roboto, “Segoe UI”, Arial, Ubuntu, sans-serif;}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #96ca3a;
    margin: 1em 0;
    padding: 0; 
}
b{color:#333031;
    border-bottom:1px solid rgba(150,202,58,0.6);
    margin-right:6px;
    padding-bottom:1px;
   
}    
      
::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: #F4F4F4
}

::-webkit-scrollbar-thumb {
    background: #96ca3a;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #96ca3a;
}

::selection {
    background: rgba(150, 202, 58, .55)!important;
    color: #fff!important;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgba(0, 0, 0, .55)
}

::-moz-selection {
    background: rgba(150, 202, 58, .55)!important;
    color: #fff!important;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgba(0, 0, 0, .55)
}
.buttonSort:focus{    outline: none!important; -webkit-box-shadow: inset 0px 0px 5px 0px rgba(150,202,58,1);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(150,202,58,1);
box-shadow: inset 0px 0px 5px 0px rgba(150,202,58,1);}
.buttonSort{float: right; border:2px solid rgba(150,202,58,0.6); border-radius:4px; padding:0.5em 1em; cursor:pointer; transition:0.2s; color:#333031;  font-family: 'MyriadProLight'; background:white; font-weight:bold;}
.changeSite:hover ,.buttonSort:hover{pointer:cursor; border:2px solid #96ca3a; color:#101010; }
#resultsList{font-family: 'MyriadProLight';   font-size:0.9em;font-family: -apple-system, "San Francisco", "Helvetica Neue", Helvetica, “Lucida Grande”, Roboto, “Segoe UI”, Arial, Ubuntu, sans-serif;}
 #demo{ font-family: 'MyriadProLight';}
.leftDiv{    float: left;padding-left: 16px;display:block;position:relative; max-width:328px; background: white;
    padding: 16px;
    border: 2px solid #96ca3a;
    border-radius: 4px;}
.rightDiv{float:right; height:100%;position:relative; margin-bottom:32px;}
.rightHelpZ{width:100%; position:relative; z-index:11;}
#resultsList li{font-family: 'MyriadProLight';}
#myIframe {
    border:0!important;
    will-change:auto;
     transition-delay:2s;
    transition:0.88s;
 opacity:0;
    overflow: scroll;
    width: 100vw;
    height:0;
    border: 1px solid black;
}

.changeSite{
     border:2px solid rgba(150,202,58,0.6); cursor:pointer; color:#333031;  font-family: 'MyriadProLight'; background:white; font-weight:bold;
        float: right;

      transition: 0.66s;
    padding: 0.5em 1em;
    z-index: 12;
    font-size: 14px;
    width: 96%;
    margin:26px 2% 10px 2%!important;
    border-radius: 0.25em;
    
}
.changeSite2:hover {pointer:cursor; border:2px solid rgba(6,4,3,0.6); color:#101010; }
.changeSite2{
     border:2px solid rgba(6,4,3,0.1); cursor:pointer; color:#333031;  font-family: 'MyriadProLight'; background:white; font-weight:bold;
        float: right;

      transition: 0.66s;
    padding: 0.5em 1em;
    z-index: 12;
    font-size: 14px;
    width: 96%;
    margin:26px 2% 10px 2%!important;
    border-radius: 0.25em;
    
}


#resultsList li{color:#96ca3a!important; font-weight:bold;  line-height:1.6em;}
#resultsList li span{color:#333031!important; font-weight:normal;}
#backgroundDiv{will-change:auto; width:100vw; height:100vh;  position:absolute; z-index:10; opacity:1; transition:0.33s;}
#loadingDiv{will-change:auto; display: block; width: 100px; height: 100px;position:absolute; z-index:11; transition: 0.33s 0.33s;top: calc(50vh - 100px) ;left: calc(50vw - 50px); opacity: 1; }
.buttonSort{float: right; font-size:14px; width:100%;margin-bottom:1em; border-radius:0.25em;}
